<link rel="stylesheet" type="text/css" href="app.component.css">

<div class="header">
  <h1 >Dhenifer Cioffi Flora</h1>
  <h2>Analista de desenvolvimento e sistema</h2>
  <h3>Via dos Indaias N:41 CEP: 13317-256 - Cabreúva</h3>
  <a href="dhenifercioffiflora@gmail.com">dhenifercioffiflora&#64;gmail.com</a>
  <h4> (11) 9-97795-5885</h4>

  <div class="foto">
    <img src="assets/dhe.jpeg" width="100" height="100">
  </div>
  <hr>
</div>

<div class="body">
  <div>
    <h5 class="objetivo">Objetivo</h5>
    <p > Em busca de oportunidade na área de ADS- Análise e desenvolvimento de sistemas, de forma a
      contribuir com o crescimento da
      empresa, analisando e solucionando os problemas, e visando sempre uma melhoria, de forma a ajudar a empresa!
    </p>
  </div>
  <div>
    <h5 class="Qualificações">Qualificações</h5>
    <ul>
      <li>Conhecimento digital para elaborar propagandas
        alavancando e expandindo o negócio, e para
        administrar redes sociais como social Mídia.</li>
        <li>
          Cordialidade e simpatia para prestar atendimento ao público</li>
          <li> Atenção e agilidade na entrega de medicamentos</li>
          <li>Eficiência na resolução de problemas cotidianos</li>
          <li>Facilidade de relacionamento interpessoal e trabalho em equipe</li>
          <li>Facilidade de aprendizado de novas tarefas e funções</li>
          <li>Habilidade com atendimentos via chat e sistemas online</li>
          <li>Conhecimentos em controle e gestão de estoques</li>
          <li>Conhecimentos em Pacote Office para criação de planilhas e relatórios</li>
          <li>Perfil organizado e responsável</li>
          <li>Noções de farmacologia </li>
          <li>Disposição para a aprendizagem e aprimoramento contínuos</li>
          <li>Conhecimentos sobre medicamentos </li>
          <li> Dinamismo para desempenhar diversas funções</li>
    </ul>
  </div>
  <div>
    <h5 class="Formações">Formações</h5>
    <p>
      Ensino Médio Completo
      Objetivo | Cabreúva, SP | 12/2022
      Certificação em "Alunos Destaque 2016" pela Rotary
   </p>
   <p>
    Em processo: ADS- Análise e desenvolvimento de sistemas
    Fatec Itu - Dom Amaury Castanho | Itu, SP
    Especialização em processo: HTML, CSS, Git, GitHub, JavaScript, JQuery e BootStrap
   </p>
   <p>
    Um ano de curso: Inglês
    Wizard | Cabreúva, SP
   </p>
  </div>
</div>